<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

  $(document).ready(function() {
  	$("#login").click(function() {
  		$("#error").hide();
  		$.post("/validate", 
  		{ username: $("#username").val(), password: $("#password").val() }, 
  		function(data, status) {
  			if (data == "validated") {
  				window.location.replace("/enterList");	
  			} else {
  				$("#error").show();
  			}
  		});
  	});
  });
  
</script>

<div class="alert alert-danger" role="alert" hidden=true id='error'>The username and/or password combination was not valid.</div>

  <div id="content" style="width: 1000px; height:600px">
    <div class="input-group">
    <p>Username: <input type="text" class="form-control" id="username"</p>
    <p>Password: <input type="password" class="form-control" id="password"</p>
    <br>
  </div>
  	<button id="login" class="btn btn-default">Log In</button>
    <br>
  	<br><a href="/signup" id="signup">Create An Account</a>
  	
</div>


