<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='../styles/style.css' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="../styles/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../styles/favicon.ico" type="image/x-icon">
  <title>Taskfly-Login</title>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

  $(document).ready(function() {
  	$("#login").click(function() {
  		$(".error").hide();
  		$.post("/validate", 
  		{ username: $("#username").val(), password: $("#password").val() }, 
  		function(data, status) {
  			if (data == "validated") {
  				window.location.replace("/enterList");	
  			} else {
  				$(".error").show();
  			}
  		});
  	});
  });
  
</script>
<div class="head">
  <span class="logo"></span><h2>Taskfly</h2>
</div>

<div id='main-wrapper'>
  <h1>Log in</h1>
  <div class="input-group">
    <p>Username: <input type="text" id="username"></p>
    <p>Password: <input type="password" id="password"></p>
    <br>
  </div>
  <div class="alert alert-danger error" role="alert">The username and/or password combination was not valid.</div>
	<button id="login">Log In</button>
  <br>
	<br><a href="/signup" id="signup">Create An Account</a>
    	
</div>

