
<button id='submitBtn'>Submit List</button>


<script>
	var todoList = '';

	$('#submitBtn').click(function() {
	 	$.post('/processList', {list: todoList}, function(businessesJsonStruct) {
	    
	    });
	});
</script>