
<button id='submitBtn'>Submit List</button>


<script>
	var todoList = '';

	$('#submitBtn').click(function() {
	 	$.post('/processList', {list: todoList}, function(responseObj) {
	    	var recommendedBusinesses = responseObj.businesses;
	    	var unsatisfiedToDos = responseObj.unsatisfiedItems;
	    });
	});
</script>