<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href='/styles/style.css' rel='stylesheet' type='text/css'>
</head>
<html>
<body>
    <div id='main-wrapper'>
        <h1>What do you have to get done?</h1>
        <form id='taskForm'>
            <input type="text" class="task"></br>
            <input type="text" class="task"></br>
            <input type="text" class="task"></br>
        </form>
        <p id="addTask">+ Add another task</p>
        <button id='submitBtn'>Submit List</button>
    </div>
</body>
</html>

<script>
    var todoList = [];
    //The address the user enters
    var startingAddress;
    //Boolean indicating whether to use minimal businesses metric or shortest distance metric
    var useMinimalMetric;

	$('#submitBtn').click(function() {
        // get all the data in the task inputs and make a list out of them
        $('.task').each(function() {
            var task = $(this).val();
            if(task !== "") {
                todoList[todoList.length] = task;
            }
        })
        // pass this list into the post request
	 	$.post('/processList', {list:todoList, startingAddress:startingAddress, useMinimalMetric:useMinimalMetric}, 
	 		function(responseObj) {
	    	  var idsToItems = responseObj.idsToItems;
	    	  var idsToBusinesses = responseObj.idsToBusinesses;
	    	  var unsatisfiedItems = responseObj.unsatisfiedItems;
	    	  console.log(idsToItems);
			  console.log(idsToBusinesses);
			  console.log(unsatisfiedItems);
	    	  $.post('/displayResults', 
	    	  	 {idsToItems:JSON.stringify(idsToItems), idsToBusinesses:JSON.stringify(idsToBusinesses), unsatisfiedItems:JSON.stringify(unsatisfiedItems)}, 
	    	  	 function(status) {
	    	  });
        });
	});


    $('#addTask').click(function() {
        $('#taskForm').append("<input type='text' class='task'></br>");
    });
</script>