<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='../style/style.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<html>
<body>
    <div id='main-wrapper'>
        <h1>What do you have to get done?</h1>
        <form id='taskForm'>
            <input type="text" class="task"></br>
            <input type="text" class="task"></br>
            <input type="text" class="task"></br>
        </form>
        <p id="addTask">+ Add another task</p>
        <button id='submitBtn'>Submit List</button>
    </div>
</body>
</html>

<script>
    var todoList = [];
    //The address the user enters
    var startingAddress;

	$('#submitBtn').click(function() {
        // get all the data in the task inputs and make a list out of them
        $('.task').each(function() {
            var task = $(this).val();
            if(task !== "") {
                todoList[todoList.length] = task;
            }
        })
        // pass this list into the post request
	 	$.post('/processList', {list:todoList, startingAddress:startingAddress}, function(responseObj) {
	    	var recommendedBusinesses = responseObj.businesses;
	    	var unsatisfiedToDos = responseObj.unsatisfiedItems;
	    });
	});


    $('#addTask').click(function() {
        $('#taskForm').append("<input type='text' class='task'></br>");
    });
</script>